#page_login{
    display: block;
}

#page_main{
    display: none;
}

#page_asignatura{
  display: none;
}

.encabezado{
    height: 135px;
    border: solid 2px #000000;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 37px;
    margin-right: 37px;
}

.titulo{
    height: 48.6px;
    margin: 40px;
    font-size: 50px;
    color: #130086;
}

#foto_profesor{
    float: left;
}

#profesor{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-left: 37px;
    margin-top: 50px;
}

.img_prof{
    vertical-align: middle;
    height: 80px;
    width: 80px;
}

#nprof{
  padding: 20px;
}

#btn_nueva_asig{
    margin-left: 63px;
    margin-top: 200px;
    width: 200px;
    height: 71px;
    background-color: #0007a7;
    border-radius: 20px;
    cursor: pointer;
    float: left;
}

#classes{
    left: 10px;
}

#participants{
    left: 10px;
}

#btn_nueva_clase{
  margin-left: 63px;
  margin-top: 200px;
  width: 200px;
  height: 71px;
  background-color: #0007a7;
  border-radius: 20px;
  cursor: pointer;
  left: 10px;
}

#btn_to_aula{
    margin-left: 63px;
    margin-top: 200px;
    width: 200px;
    height: 71px;
    background-color: #0007a7;
    border-radius: 20px;
    cursor: pointer;
    bottom: 10px;
    left: 10px;
}

/***** PAGINA LOGIN *****/
.button_f{
  color: white;
  background-color: rgb(0, 0, 128);
  font-size: 24px;
  padding: 15px;
  border-radius: 7px;
  border: none;
}

.button_f:hover, #qr_btn:hover{
  background-color: rgb(52, 52, 196);
}

#btn_google_login{
  width: 200px;
  position: absolute;
  height: 90px;
  margin-top: -45px;
  margin-left: -100px;
  top: 50%;
  left: 50%;
}

#logo{
  width:100%;
  max-width:800px;
  display: block;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#titulo_banner{
  font-size: 15px;
  margin: auto;
  width:70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.texto_btn{
    color: white;
    margin: 25px;
}
  
  .calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 60%;
  }
  
  .calendar__picture {
    position: relative;
    height: 90px;
    padding: 20px;
    color: #fff;
    background: #262626;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
  }
  .calendar__picture:before {
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
    }
    
    h2 {
      margin: 0;
    }
    
    h3 {
      margin: 0;
      font-weight: 500;
    }
  
  
  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
  }
.calendar__day:nth-child(7) {
      color: #ff685d;
    }
  
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
  }
  .calendar__number:nth-child(7n) {
      color: #ff685d;
      font-weight: 700;
    }
    
    .calendar__number--current,
    .calendar__number:hover {
      background-color: #009688;
      color: #fff !important;
      font-weight: 700;
      cursor: pointer;
    }
  

.header_table{
  border: solid 2px gray;
  border-radius: 20px;
  width: 50%;
  margin-left: 37px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 37px;
}

td, th {
  text-align: left;
  padding: 8px;
  cursor: pointer;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popupBody{
  width: 46%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #CCC;
  background: #FFF;
  position: relative;
  margin: 10% auto;
  transition: all 5s ease-in-out;
  text-align: center;
}

#cerrar{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  transition: all 200ms;
}

#form1input1, #form1input2, #form2input1, #form2input2{
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

#form1submit, #form2submit{
  width: 200px;
  height: 71px;
  background-color: #0007a7;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  color: white;
}

#nombre_clase{
    color: #757678;
    margin-left: 50px;
}

.table_name_container{
    display: inline-block;
    border: 1px solid#454648;
    text-align: left;
    margin: 30px;
    width: 50%;
}

.table_declarer{
    color: #757678;
    font-size: medium;
    padding-left: 20px;
}

#to_aula{
    height: 100px;
}

#btn_nueva_clase {
    font-size: medium;
    padding: 20px;
}

.scroll_table{
    margin: 10px;
}